[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==7.0"
flask = "==1.1.2"
flask-pymongo = "==2.3.0"
itsdangerous = "==1.1.0"
markupsafe = "==1.1.0"
pymongo = {extras = ["srv", "tls"], version = "==3.10.1"}
werkzeug = ">=0.16.0"
Jinja2 = "==2.10.3"
gunicorn = "==20.0.4"

[requires]
python_version = "3.7"
