
.h-style {
    text-transform: uppercase;
}

.card-title {
    background-color: black;
    font: white;
    font-weight: bolder;
    text-transform: uppercase;
}

/* Nav Bar */
.nav-wrapper {
    background-color: black;
}

/* Site Buttons */
.delete_button {
  background-color: #910853;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  margin: auto;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.delete_button:hover {
  color: #f7e4fc;
  background-color: #701547;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.delete_button:active:focus {
  color: #f7e4fc;
}

.edit_button {
  background-color: #5c3249;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  margin: auto;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.edit_button:hover {
  color: #f7e4fc;
  background-color: #7e3e61;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.edit_button:active:focus {
  color: #f7e4fc;
}

.save_button {
  background-color: #642f4c;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  margin: auto;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.save_button:hover {
  color: #f7e4fc;
  background-color: #701547;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.save_button:active:focus {
  color: #f7e4fc;
}