.card-row {
    width:320px; 
    left:20px; 
    display: inline-block; 
    margin-right: 40px;
  -moz-column-width: 23rem;
  -webkit-column-width: 23rem;
  -moz-column-gap: 1rem;
  -webkit-column-gap: 1rem;
}

.h-style {
    text-transform: uppercase;
}