{% extends 'base.html'%}{% block content %}

<h3>Add genre</h3>
<form action="{{ url_for('insert_genre') }}" method="POST" class="col s12">
            <div class="row">
                <div class="file-field input-field col s12">
                    <i class="material-icons prefix">apps</i>
                    <label for="icon_prefix">Name of Genree</label>
                    <input id="genre_name" name="genre_name" type="text">
                </div>            
            <div class="row">
                <div class="file-field input-field col s12">
                    <i class="material-icons prefix">add_a_photo</i>
                    <label for="icon_prefix">Upload Cover Image</label>
                    <input id="genre_image" name="genre_image" type="text">
                </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add Genre
                    <i class="material-icons right">send</i>
                </button>
            </div>
</form>
{% endblock %}