{% extends 'base.html'%} {% block content %}

<h3><i class="medium material-icons prefix">add</i> Add Song</h3>
<div class="row">
    <form action="{{ url_for('insert_song') }}" method="POST" class="col s12">
            <div class="input-field col s12">
                <i class="material-icons prefix">apps</i>
                    <select id="genres"  name="genre_name" class="form-control">
                        <option value="" disabled selected>Choose Genre</option>
                        {% for song in genres %}
                        <option value="{{song.genre_name}}">{{song.genre_name}}</option>
                        {% endfor %}
                    </select>
                <label>Song Genre</label>
        </div>
            <div class="file-field input-field col s12">
                <i class="material-icons prefix">add_a_photo</i>
                <label for="icon_prefix">URL of Artist Image</label>
                <input id="song_image" name="song_image" type="text" required>
            </div>
            <div class="file-field input-field col s12">
                <i class="material-icons prefix">album</i>
                <label for="icon_prefix">Album Name</label>
                <input id="album_name" name="album_name" type="text" required>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">art_track</i>
                <input id="song_name" name="song_name" type="text" required>
                <label for="song-name">Song Name</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="artist_name" name="artist_name" type="text" required>
                <label for="artist_name">Artist Name</label>
            </div>
            <div class="input-field col s12 tooltip">
                <i class="material-icons prefix">music_note</i>
                <input id="song_link"" name="song_link" type="url" required>
                <label for="song_link">Spotify Embed URL</label>
                <span class="tooltiptext"><strong>Inserting "embed" in the Song URL</strong>
                                            <p>1. Open Spotify Web Player.
                                            <br>2. Find the song you wish to embed.
                                            <br>3. Click on the elipses (otherwise known as the three dots "...") next to the song and click "Copy Song Link". This should have copied the URL.
                                            <br>4. Paste the link in the below field - it will look something like this "https://open.spotify.com/track/3MjUtNVVq3C8Fn0MP3zhXa?si=h2ov3JYWRJ63xsDWH-eHmw" 
                                            Within this URL link, insert "embed/" directly after .com/ (removing the quotation marks) so it should look like this "https://open.spotify.com/embed/track/3MjUtNVVq3C8Fn0MP3zhXa?si=h2ov3JYWRJ63xsDWH-eHmw"</span>
            </div>
        <div class="row">
            <button class="btn save_button" type="submit" name="action">Add Song
                <i class="material-icons right">send</i>
             </button>
        </div>
    </form>
</div>


{% endblock %}