{% extends 'base.html' %} {% block content %}
<h3>Add Song</h3>
<div class="row">
    <form action="{{ url_for('insert_song') }}" method="POST"  class="col s12">
        <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">apps</i>
                    <select multiple="genres" name="genre_name" class="form-control">
                  <option value="" disabled selected>Choose Genre</option>
                  {% for song in genres %}
                      <option value="{{song.genre_name}}">{{song.genre_name}}</option>
                  {% endfor %}
                </select>
                    <label>Song Genre</label>
            </div>
            <div class="file-field input-field col s12">
                <i class="material-icons prefix">add_a_photo</i>
                <label for="icon_prefix">URL for Cover Image</label>
                <input id="song_image" name="song_image" type="text">
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">album</i>
                <input id="song_name" name="song_name" type="text">
                <label for="icon_prefix">Song Name</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="artist_name" name="artist_name" type="text">
                <label for="icon_prefix">Artist Name</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">music_note</i>
                <input id="song_link"" name="song_link" type="url">
                <label for="icon_prefix">Song URL (Spotify or Youtube)</label>
            </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Song
                <i class="material-icons right">send</i>
             </button>
        </div>
    </form>
</div>


{% endblock %}