{% extends 'base.html'%} {% block content %}

<div class=row>
<div class="col s12">
    <h3 class="h-style">Country</h3>
</div>
</div>
 
<div class="row">
{% for song in songs %} 
    <div class="col l3 m6 s12">
        <div class="card large">
            <div class="card-image">
                    <img class="image-size" src="{{song.song_image}}" alt="URL Image">
                    <span class="card-title">{{song.genre_name}}</span>
            </div>
            <div class="card-content">
                <ul>
                    <li>
                        <span class="vartist-name">
                            {{song.artist_name}} 
                        </span>
                    </li>
                    <li>
                        <span class="truncate vsong-name">
                            {{song.song_name}} 
                        </span>
                    </li>
                    <li>
                    <span>
                    <a href="{{url_for('show_song', song_id=song._id)}}" class='btn view_button'>View Song</a>
                        </span>
                    </li> 
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
 </div>
  
{% endblock %}