{% extends 'base.html'%} {% block content %}

<h3><i class="medium material-icons prefix">mode_edit</i> Edit song</h3>
<div class="row">
    <form action="{{ url_for('update_song', song_id=song._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field file-field col s12">
                <i class="material-icons prefix">apps</i>
                <select id="genres" name="genre_name" class="validate" value="{{song.genre_name}}">
                  <option value="" disabled selected>Choose genre</option>
                  {% for genre in genres %}
                      {% if genre.genre_name == song.genre_name %}
                      <option value="{{genre.genre_name}}" selected >{{genre.genre_name}}</option>
                      {% else %}
                       <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label>Song Genre</label>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field col s12">
                <i class="material-icons prefix">add_a_photo</i>
                <label for="icon_prefix">Upload Cover Image</label>
                <input id="song_image" name="song_image" type="text" class="validate" value="{{song.song_image}}" required>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">album</i>
                <input id="album_name" name="album_name" type="text" class="validate" value="{{song.album_name}}" required>
                <label for="album_name">Album Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">art_track</i>
                <input id="song_name" name="song_name" type="text" class="validate" value="{{song.song_name}}" required>
                <label for="song_name">Song Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="artist_name" name="artist_name" type="text" class="validate" value="{{song.artist_name}}" required>
                <label for="song_name">Artist Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 tooltip">
                <i class="material-icons prefix">music_note</i>
                <input id="song_link"" name="song_link" type="url" class="validate" value="{{song.song_link}}" required>
                <label for="icon_prefix">Spotify Embed URL</label>
            </div>
        </div>
        <div class="row">
            <button class="btn save_button" type="submit" name="action">Save Changes
                <i class="material-icons right">save</i>
             </button>
        </div>
    </form>
</div>

{% endblock %}