{% extends 'base.html' %} {% block content %}

<div class="music_library_header">
Music Library For You
</div>
<div class="music_library_small_header">
A collection of songs in one convenient place!
</div>

<div class="row">
    <div class="col s3">
      <div class="card">
        <div class="card-image hover">
         <a href="{{url_for('get_chill')}}"><img src="/static/images/Chill.png"></a>
        </div>
      </div>
    </div>
     <div class="col s3">
      <div class="card">
        <div class="card-image hover">
           <a href="{{url_for('get_country')}}"><img src="/static/images/Country.png"></a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_folk')}}"><img src="/static/images/Folk.png"></a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_pop')}}"><img src="/static/images/Pop.png"></a>
        </div>
      </div>
    </div>   
</div> 
<div class="row">
    <div class="col s3">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_rock')}}"><img src="/static/images/Rock.png"></a>
        </div>
      </div>
    </div>
     <div class="col s3">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_reggae')}}"><img src="/static/images/Reggae.png"></a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_urban')}}"><img src="/static/images/Urban.png"></a>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_other')}}"><img src="/static/images/Other.png"></a>
        </div>
      </div>
    </div>   
 </div> 

{% endblock %}