{% extends 'base.html' %} {% block content %}

<h2 class="music_library_header">
Music Library For You
</h2>
<h4 class="ml_small_header">
Your Sounds. Your Music.
</h4>
<div>
		<p>Do you love music? So do we! This music library will allow you to add your favourite tunes, so everyone can enjoy the music for free! 
    Simply browse your favourite songs via the different genres below, or you can view all songs available in one handy place.</p>
</div>
<div class="row">
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
         <a href="{{url_for('get_chill')}}"><img src="/static/images/Chill.png"></a>
        </div>
      </div>
    </div>
     <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
           <a href="{{url_for('get_country')}}"><img src="/static/images/Country.png"></a>
        </div>
      </div>
    </div>
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_folk')}}"><img src="/static/images/Folk.png"></a>
        </div>
      </div>
    </div>
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_pop')}}"><img src="/static/images/Pop.png"></a>
        </div>
      </div>
    </div>   
</div> 
<div class="row">
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_rock')}}"><img src="/static/images/Rock.png"></a>
        </div>
      </div>
    </div>
     <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_reggae')}}"><img src="/static/images/Reggae.png"></a>
        </div>
      </div>
    </div>
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_urban')}}"><img src="/static/images/Urban.png"></a>
        </div>
      </div>
    </div>
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image hover">
          <a href="{{url_for('get_other')}}"><img src="/static/images/Other.png"></a>
        </div>
      </div>
    </div>   


{% endblock %}