{% extends 'base.html'%} {% block content %}
<div class="row">
    <ul>
        {% for song in songs %}
        <li>
            <div class="row">
            <ul>
            <li>
                <span>
                {{song.song_image}} 
            </span>
            </li>
            <li>
                <span>
                Song Name: {{song.song_name}} 
            </span>
            </li>
            <li>
                <span>
                Artist Name: {{song.artist_name}} 
            </span>
            </li>
            <li>
                <span>
                Link to Song: {{song.song_link}} 
            </span>
            </li>        
            </ul>
            </div>

            <div class="row">
                <div class="col s3">
                    <a href="{{url_for('delete_song', song_id=song._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
                    <a href="{{url_for('edit_song', song_id=song._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    
                </div>
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}